<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single app</title>

    <script>

        window.onpopstate= function(event) {
            showPage(event.state.section)
        }

        function showPage(section){

            fetch(`/sections/${section}`)
            .then(response => response.text())
            .then(text => {
                document.querySelector('#content').innerHTML=text;
            })

        }


        document.addEventListener("DOMContentLoaded",function(){
            document.querySelectorAll('button').forEach(button =>{
                button.onclick=function(){
                    const section=this.dataset.section
                    

                    history.pushState({section:section},"", `section${section}`)
                    showPage(section);



                }
            });

        });
    </script>

</head>
<body>
    <button data-section='1'>Section1</button>
    <button data-section='2'>Section2</button>
    <button data-section='3'>Section3</button>

    <div id="content"></div>
</body>
</html>